body{
    overflow: hidden;
}
canvas{
    display: block;
}
#gameWindow{
    background-color: #CCD1D1;
    border: 3px solid black;
    margin: 1% auto;
}
#scoreWindow{
    background-color: black;
    color: white;
    border: 3px solid black;
    margin: 0 auto;
}